<template>
  <div class="error">
    Error
  </div>
</template>

<script>
export default {
  name: 'error',
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
